

.fondo-contacto {
  background: linear-gradient(rgb(3,40,79),rgb(0,0,0));
  object-fit: cover;
  width: 100%;
}

.maps-contact {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40vh;
}
